.App {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: space-around;
  background: linear-gradient(45deg,#9c9c9c, #c9c9c9);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
::placeholder {
  font-family: sans-serif;
  color: #787878;
}

::-webkit-scrollbar {
  display: none;
}